.prize-draw {
    width: 50%;
    margin: auto;
    padding: 1rem 0;
}

.prize-draw h1 {
    text-align: center;
}

.prize-draw #wheel {
    margin: 1rem 0;
}

.prize-draw canvas{
    cursor: pointer;
    width: 100%;
}

.prize-draw .result h2 span {
    display: block;
    text-align: center;
    margin: 2rem 0;
}

@media only screen and (max-width: 640px) {
    .prize-draw {
        padding: 1rem 0.5rem;
        width: 95%;
    }
}