.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 35px;
  width: 35px;
}

.bm-cross {
  background: #DAB162;
}

.bm-menu-wrap {
  position: fixed;
  top: 0px;
  height: 100%;
}

.bm-menu {
  /* background: rgba(255, 255, 255, 0.95); */
  background: rgba(50,97,72);
  background: linear-gradient(167deg, rgba(50,97,72,0.95) 0%, rgba(129,167,140,1) 100%);
  opacity: 5;
  padding: 5em 0;
  font-size: 1.15em;
}
.bm-item-list {
  color: #b8b7ad;
}

.bm-item {
  display: flex !important;
  flex-direction: column;
  text-align: center;
  height: 40%;
  justify-content: space-between;
}

.menu-item {
  text-align: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  text-align: left;
}
.menu-profil img, .menu-profil img {
  display: inline-block;
}
.menu-profil img {
  display: none;
  height: 50px;
  width: 50px;
}
.menu-profil h1 {
  margin-top: 0px;
  vertical-align: middle;
}

.menu-item:hover {
  background-color: #FFFFFF;
  color: #326148;
}

.bm-overlay {
  opacity: 0 !important;
}